@CHARSET "UTF-8";

@IMPORT url("../js/plugins/bootstrap-3.3.0/css/bootstrap.min.css");
@IMPORT url("../js/plugins/datatablesp-1.10.7/css/jquery.dataTables.min.css");
@IMPORT url("../js/plugins/ztree/css/zTreeStyle/zTreeStyle.css");
@IMPORT url("../js/plugins/bootstrap-datepicker-1.4.0-dist/css/bootstrap-datepicker.min.css");
@IMPORT url("../js/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css");

.body-color{
	background-color: #34495e;
}
.main-row-top{
	position: relative;
	top: 60px;
}

.main-row-top-line{
	height: 400px;
}
.main-row-top-colock{
	max-height: 200px;
}

.main-row-top-heigh{
	height: 138px;
}

.main-row-under{
	height: 130px
}

/*左侧手风琴*/
.main-collapse-left{
	position: absolute;
	top: 60px;
	width: 10%;
	z-index: 1000;
	left: 0.2%;
}

#table-data-id{
	display:none
}